
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: black;
  background-size: 100vw 100vh;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.bg {
  background-image: linear-gradient(to bottom right, #4f2f37, rgba(32, 32, 32, 0));
  /* #37272b */
  width: 100vmax;
  height: 100vmax;
  z-index: -1;
  position: fixed;
  /* top: 0; bottom: 0; right: 0; left: 0;
  margin: auto; */
  filter: blur(0px);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.menu {
  position: fixed;
  background-color: whitesmoke;
  width: 100vw;
  top: 0px;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

.menu li {
  padding: 10px;
  list-style: none;
}

.menu a {
  padding: 10px 20px;
  color: darkslategrey;
  text-decoration: none;
  font-size: 1.7rem;
}

.menu a:hover {
  background-color: lightblue;
}

.site-title {
  color: #eee0e5;
  font-family: 'Caveat', cursive;
  font-size: 10vw;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.site-title:hover {
  color: #e6598f;
}

.site-subtitle {
  color: whitesmoke;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2rem;
}

.portfolio {
  display: grid;
}

.portfolio h2 {
  color: ghostwhite;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.portfolio figure {
  background-color: corali;
}

figcaption {
  color: ghostwhite;
  font-size: 1.3em;
}

.img-portfolio {
  height: 150px;
}

@media (min-width: 600px) {
  .site-title {
    font-size: 60px;
  }
  .site-subtitle {
    font-size: 2.5em;
  }
}

@media (min-width: 680px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (min-width: 950px) {
  .portfolio .grid {
  grid-template-columns: repeat(3, 300px);
}
}