@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
}

body {
  background-color: black;
  background-size: 100vw 100vh;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.bg {
  background-image: linear-gradient(to bottom right, #4f2f37, #20202000);
  width: 100vmax;
  height: 100vmax;
  z-index: -1;
  position: fixed;
  filter: blur(0px);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.menu {
  position: fixed;
  z-index: 1;
  background-color: whitesmoke;
  width: 100vw;
  top: 0px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.menu li {
  padding: 10px;
  list-style: none;
}

.menu a {
  padding: 10px 20px;
  color: teal;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bolder;
  transition: background-color 300ms, color 300ms;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

.profileback {
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(to top left,  #5e2c38, #202020);
  border-radius: 10px;
}

.profile {
  height: 150px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.titulo {
  transform: scale(0.1);
  opacity: 0;
  animation: linear animatitulo 1s forwards;
}

@keyframes animatitulo {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.site-title {
  color: #eee0e5;
  font-family: 'Great Vibes', cursive;
  font-size: 10vw;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}

.site-title:hover {
  color: #e6598f;
}

.site-subtitle {
  color: whitesmoke;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2rem;
}

.portfolio {
  display: grid;
}

.contato h2,
.portfolio h2 {
  color: ghostwhite;
  font-size: 2rem;
  margin: 40px;
  padding: 10px;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
}

.portfolio figure {
  background-color: corali;
}

figcaption {
  color: ghostwhite;
  font-size: 1.3em;
}

.img-portfolio {
  width: 280px;
  height: 150px;
  transition: transform 500ms;
  object-fit: cover;
  object-position: bottom;
}

.img-portfolio:active,
.img-portfolio:hover {
  transform: scale(1.2) rotate(-5deg);
}

.icons {
  text-align: center;
}

.contato a {
  font-size: 6rem;
  color: ghostwhite;
  transition: text-shadow 500ms;
}

.contato a:hover {
  text-shadow: 0px 0px 10px #ffff00aa;
}

.contato i {
  font-size: inherit;
}

@media (min-width: 600px) {
  .site-title {
    font-size: 60px;
  }
  .site-subtitle {
    font-size: 2.5em;
  }
}

.space {
  height: 100px;
}

@media (min-width: 680px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (min-width: 950px) {
  .portfolio .grid {
  grid-template-columns: repeat(3, 300px);
}
}